<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Admin ACR List</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="/css/jquery.dataTables.min.css"
          th:href="@{/css/jquery.dataTables.min.css}">
    <script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>


</head>
<body style="padding-top: 40px; padding-bottom: 3px;  background-repeat: no-repeat;
 background-size: cover;" background="../images/background4.jpg">
<div class="container" style="width: 70%">

    <div th:replace="fragment/menuBar :: menubar"></div>
    <div th:replace="fragment/slider :: slider"></div>


    <div>
        <h2 style="text-align: center; color: green">ACR Information</h2>
        <hr/>


        <div style=" display: block; /*padding: 3px;*/ margin-bottom: 3px; text-align: justify;">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <br/>
                    <form id="searchForm" class="form-horizontal" th:action="@{/admin/acrlist}">
                        <div class="input-group">
                            <input name="year" placeholder="Search ACR with year" class="form-control govtId"
                                   type="text">
                            <span class="input-group-btn">
               <button class="btn btn-default" type="submit">
                   <span class="glyphicon glyphicon-search"></span>
               </button>
            </span>
                        </div>
                    </form>
                    <br/>
                </div>
            </nav>
        </div>


        <div style="display: block; padding: 10px; margin-bottom: 40px;
                text-align: justify; background-color: #F0F8FF">
            <h2 style="text-align: center; color: green">RECEIVED ACR</h2>
            <div style="width: 90%" class="center">
                <table id="currentAcrTable" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th style="text-align: center;">Govt. ID</th>
                        <th style="text-align: center;">Year</th>
                        <th style="text-align: center;">From</th>
                        <th style="text-align: center;">To</th>
                        <th style="text-align: center;">Files</th>
                        <th style="text-align: center;">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="acr : ${list}" >
                        <td th:text="${acr.govtId}" align="center"></td>
                        <td th:text="${acr.year}" align="center"></td>
                        <td th:text="${acr.assigned_from}" align="center"></td>
                        <td th:text="${acr.assigned_to}" align="center"></td>


                        <td align="center">

                            <div style="overflow-y:scroll; height:50px; display:block;">
                                <span th:each="fileName: ${acr.filelist}">
                                <a th:href="@{/file/download(fileName=${fileName})}" target="_blank"><img th:src="@{/images/pdf-icon.png}" width="15px" height="15px"/></a>
                            </span>
                            </div>
                        </td>


                        <td align="center">
                            <a th:href="@{/admin/getacr(id=${acr.id})}">
                                <button type="button"
                                        class="btn btn-info btn-md">Edit
                                </button>
                            </a>


                            <a th:href="@{/admin/deleteAcr(id=${acr.id})}"
                               onclick="return confirm('Are you sure you want to delete this item?');">
                                <button type="button"
                                        class="btn btn-info btn-md">Delete
                                </button>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="oldAcrDiv" style="display: block; padding: 10px; margin-bottom: 30px;
                 text-align: justify; background-color: #F0F8FF">
            <h2 style="text-align: center; color: green">Entered ACR</h2>
            <div style="width: 90%" class="center">

                <table id="oldAcrTable" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th style="text-align: center;">Govt. ID</th>
                        <th style="text-align: center;">Year</th>
                        <th style="text-align: center;">From</th>
                        <th style="text-align: center;">To</th>
                        <th style="text-align: center;">Files</th>
                        <th style="text-align: center;">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="acr : ${oldAcr}">
                        <td th:text="${acr.govtId}" align="center"></td>
                        <td th:text="${acr.year}" align="center"></td>
                        <td th:text="${acr.assigned_from}" align="center"></td>
                        <td th:text="${acr.assigned_to}" align="center"></td>
                        <td align="center">
                <span th:each="file: ${acr.filelist}">
                        <td th:text="${file}" align="center"></td>

                    <a href="www.google.com" ><img th:src="@{/image/pdf-icon.png}"/></a>

                </span>
                        </td>

                        <td align="center">
                            <a th:href="@{/admin/getacr/(id=${acr.id})}">
                                <button type="button"
                                        class="btn btn-info btn-lg">Edit
                                </button>
                            </a>
                            <a th:href="@{/admin/deleteAcr(id=${acr.id})}"
                               onclick="return confirm('Are you sure you want to delete this item?');">
                                <button type="button"
                                        class="btn btn-info btn-lg">Delete
                                </button>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div th:replace="fragment/footer :: footer"></div>
</div>


<script>
    $(function () {
        $("#currentAcrTable").DataTable({
            "columnDefs": [
                {"targets": [1, 2, 3, 4, 5], "searchable": false},
                {"width": "15%", "targets": 4}
            ]
        });
        $("#oldAcrTable").DataTable();
    });
</script>

<script th:inline="javascript">
    $(".oldAcrDiv").hide();

</script>

</body>

<style>
    .center {
        margin: auto;
        width: 60%;
        padding: 10px;
    }
</style>
</html>