<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Acr</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <link href="../css/jquery.dataTables.min.css" th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>

</head>
<body style="padding-top: 40px; padding-bottom: 3px;  background-repeat: no-repeat;
 background-size: cover;" background="../images/background4.jpg">


<div class="container" style="width: 70%">
    <div th:replace="fragment/menuBar :: menubar"></div>
    <div th:replace="fragment/slider :: slider"></div>
    <div class="center-block" style="width: 100%; margin-top: 30px;background-color: #F0F8FF;">


        <div style=" display: block; padding: 10px; margin-bottom: 30px;
             text-align: justify; background-color: #F0F8FF">

            <div>
                <form id="upload-file-form" class="form-horizontal">
                    <fieldset>
                        <!-- Form Name -->
                        <legend style="text-align: center">
                            <h2 th:text="${acrDto.id != null} ? 'Update ACR' : 'Create ACR'" ></h2>
                        </legend>

                        <!-- File Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="upload-file-input">Attachment File
                                Upload</label>
                            <div class="col-md-4">
                                <input id="upload-file-input" name="file" class="input-file" type="file" multiple>
                            </div>
                        </div>
                    </fieldset>
                </form>


                <span th:if="${acrFiles.size() gt 0}">
                     <div class="fileListDiv center-block" th:fragment="fileList" style=" width:40%;  display: block; padding: 10px;
                                                                           margin-bottom: 10px;
                                                                           text-align: justify; background-color: #F0F8FF">
                        <legend style="text-align: center"><h2>Files of ACR</h2></legend>
                            <table id="acrFiles" class="table table-striped table-bordered">
                                 <thead>
                                    <tr>
                                        <th style="text-align: center;">File</th>
                                        <th style="text-align: center;">Action</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr th:each="file : ${acrFiles}">
                                        <td align="center"><a th:href="@{/file/download(fileName=${file.url})}" target="_blank">
                                            <img th:src="@{/images/pdf-icon.png}" width="15px" height="15px"/></a>
                                        </td>
                                        <td>
                                            <button type="button" th:onclick="|loadFiles('${file.id}', '${acrDto.id}')|"
                                                     class="btn btn-info btn-sm">Delete
                                            </button>
                                        </td>
                                    </tr>
                                 </tbody>
                            </table>
                     </div>
                </span>

                <form id="acrForm" class="form-horizontal" method="post" th:object="${acrDto}">
                    <fieldset>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="govtId">Govt. ID</label>
                                <div class="col-md-4">
                                     <input id="id" path="id" name="id" type="hidden" th:field="*{id}">

                                     <input id="govtId" name="govtId" type="text" placeholder="govt. Id"
                                       class="form-control input-md"
                                       th:field="*{govtId}" required>
                                </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="year">Year</label>
                                <div class="col-md-4">
                                     <input id="year" name="year" type="text" placeholder="year"
                                       class="form-control input-md"
                                       th:field="*{year}" required>
                                </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="assigned_from"> Date From: </label>
                                 <div class="col-md-4">
                                     <input name="assigned_from" type="date" id="assigned_from"
                                            th:field="*{assigned_from}" required>
                                 </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="assigned_to"> Date To: </label>
                                <div class="col-md-4">
                                    <input name="assigned_to" type="date" id="assigned_to" th:field="*{assigned_to}"
                                       required>
                                </div>
                        </div>

                        <div class="form-group">
                            <div id="fileList" class="col-md-4">
                                <!--<input i type="text" placeholder="year" class="form-control input-md" required="">-->
                            </div>
                        </div>


                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="create"></label>
                                <div class="col-md-4">
                                  <button id="create" class="btn btn-primary"
                                          th:text="${acrDto.id != null} ? 'Update' : 'Create'"></button>
                                </div>
                        </div>


                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Empty Error</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Field can't be empty! Fill all the field!</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <div th:replace="fragment/footer :: footer"></div>

</div>
</body>


<script th:inline="javascript">
    $("body").on("click", "#create", function (event) {

        event.preventDefault();

        var a = document.forms["acrForm"]["govtId"].value;
        var b = document.forms["acrForm"]["year"].value;
        var c = document.forms["acrForm"]["assigned_from"].value;
        var d = document.forms["acrForm"]["assigned_to"].value;
        if (a == null || a == "", b == null || b == "", c == null || c == "", d == null || d == "") {
            $("#myModal").modal();
            return false;
        }

        //"/ird-0.0.1-SNAPSHOT/admin/createAcr"
        //var id;
        $.ajax({
            url: /*[[ @{'/upload/file'} ]]*/,
            type: "POST",
            data: new FormData($("#upload-file-form")[0]),
            enctype: 'multipart/form-data',
            processData: false,
            async: false,
            contentType: false,
            cache: false,
            success: function (data) {
                var $fileListDiv = $("#fileList");
                data.forEach(function (element) {
                    $fileListDiv.append($("<input/>",
                        {
                            "name": "fileList",
                            "type": "hidden",
                            "value": element.id

                        }));
                });
                $("#acrForm").attr("action",/*[[ @{'/admin/createAcr'} ]]*/).submit();
            },
            error: function () {
                console.log("Error happening ");
            }
        });

    });

    function loadFiles(fileId,acrId) {
        $.ajax({
            type: 'get',
            url: /*[[ @{'/admin/deleteFile'} ]]*/,
            data: {fileId: fileId,
                acrId:acrId },
            success: function (data) {
                $('.fileListDiv').html(data);
            },
            async: false
        });

    }
</script>

</html>
