<div style="text-align: justify; background-color: #F0F8FF" th:fragment="footer"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <div style="padding: 5px; margin-bottom: 10px">
        <div style="margin: 10px">
        <footer class="page-footer font-small blue">
            <div class="footer-copyright text-center py-3">© 2019 Copyright:
                <a href="http://softwindtech.com"><img height="30px" width="100px" th:src="@{/images/com-logo.png}" /></a>
            </div>
        </footer>
    </div>
    </div>
</div>