<div style="text-align: justify; background-color: #F0F8FF" th:fragment="footer"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <div style="padding: 5px; margin-bottom: 10px">
        <!--<footer>
            <p>Posted by: Hege Refsnes</p>
            <p>Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>
        </footer>-->
        <div style="margin: 10px">


        <footer class="page-footer font-small blue">
            <div class="footer-copyright text-center py-3">© 2019 Copyright:
                <a href="https://sweetitech.com"><img height="30px" width="90px" th:src="@{/images/sweet_itech_logo_250.png}" /></a>
            </div>
        </footer>
    </div>
    </div>
</div>