<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>ACR List</title>


    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
        <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>-->

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="/css/jquery.dataTables.min.css" th:href="@{/css/jquery.dataTables.min.css}">
    <script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
</head>


<body style="padding-top: 40px; padding-bottom: 3px;  background-repeat: no-repeat;
 background-size: cover;" th:style="'background:url('+ @{/images/background4.jpg} +');'">

<div class="container" style="width: 70%">
    <div class="row">
        <div class="col-md-12 pull-right text-right">
            <a th:href="@{/login}">
                <button class="btn btn-primary">Login</button>
            </a>
        </div>
    </div>

    <div th:replace="fragment/slider :: slider"></div>


    <div>
        <h2 style="text-align:center;color:green">ACR Information</h2>
        <hr/>


        <div style=" display: block;
    padding: 10px;
    margin-bottom: 10px;
    text-align: justify;">


            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <form class="navbar-form navbar-right" id="searchForm">
                        <div class="input-group">
                            <input style="width: 100%;" type="text" class="form-control govtId"  placeholder="Search with Govt. ID" name="govtId">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit" th:onClick="'loadTables();'">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </nav>

        </div>


<div class="acrListDiv" th:fragment="acrList" style=" display: block;
    padding: 10px;
    margin-bottom: 40px;
    text-align: justify; background-color: #F0F8FF">

            <h2 style="text-align:center;color:green">ACR of Current Year</h2>

            <div style="width: 90%" class="center">
                <table id="acrTable" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th style="text-align:center;">Govt. ID</th>
                        <th style="text-align:center;">Year</th>
                        <th style="text-align:center;">From</th>
                        <th style="text-align:center;">To</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="acr : ${list}">
                        <td th:text="${acr.govtId}" align="center"></td>
                        <td th:text="${acr.year}" align="center"></td>
                        <td th:text="${acr.assigned_from}" align="center"></td>
                        <td th:text="${acr.assigned_to}" align="center"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
 </div>




 <div class="allAcrDiv"  th:fragment="allAcr" style=" display: block;
    padding: 10px;
    margin-bottom: 30px;
    text-align: justify; background-color: #F0F8FF" >
            <h2 style="text-align:center;color:green">All ACR</h2>
            <div style="width: 90%" class="center">
                <table id="acrOldTable" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th style="text-align:center;">Govt. ID</th>
                        <th style="text-align:center;">Year</th>
                        <th style="text-align:center;">From</th>
                        <th style="text-align:center;">To</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="acr : ${oldAcr}">
                        <td th:text="${acr.govtId}" align="center"></td>
                        <td th:text="${acr.year}" align="center"></td>
                        <td th:text="${acr.assigned_from}" align="center"></td>
                        <td th:text="${acr.assigned_to}" align="center"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div th:replace="fragment/footer :: footer"></div>

</div>


<script>

    $(function () {
        $("#acrTable").DataTable();
        $("#acrOldTable").DataTable();
    });
    </script>

<script th:inline="javascript">
    $(".acrListDiv").hide();
    $(".allAcrDiv").hide();

function loadTables()
{
    $('#searchForm').submit(function(e) {
        e.preventDefault();
        var govtId = $('.govtId').val();
        loadAcrList(govtId);

        loadAllAcr(govtId);

    });
}


    function loadAcrList(govtId)
    {

        $.ajax({
            type: 'get',
            url: /*[[ @{'/user/govtId'} ]]*/,
            data:  { govtId: govtId},
            success: function(data){
                console.log(data);
                $('.acrListDiv').html(data);
                $("#acrTable").DataTable();
                $(".acrListDiv").show();

            },
            async:false
        });

    }

    function loadAllAcr(govtId){
        $.ajax({
            type: 'get',
            url: /*[[ @{'/user/allAcr'} ]]*/,
            data:  { govtId: govtId},
            success: function(data){
                console.log(data);
                $('.allAcrDiv').html(data);
                $("#acrOldTable").DataTable();
                $(".allAcrDiv").show();
            },
            async:false
        });
    }
</script>

</body>
<style>
    .center {
        margin: auto;
        width: 60%;
        padding: 10px;
    }
</style>
</html>