<!DOCTYPE html>
<html  xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script>
        $(function(){
           $("#acrTable").DataTable();
           $("#acrOldTable").DataTable();
        });
    </script>
</head>
<body>
<div class="container">


    <table id="acrTable" class="table table-striped table-bordered">
        <thead>
        <tr>
            <!--<th>S/N</th>-->
            <th>Govt. ID</th>
            <th>Year</th>
            <th>From</th>
            <th>To</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="acr : ${list}">
            <td th:text="${acr.govtId}"></td>
            <td th:text="${acr.year}"></td>
            <td th:text="${acr.assigned_from}"></td>
            <td th:text="${acr.assigned_to}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>